# Default ignored files
/shelf/
/workspace.xml
# Editor-based HTTP Client requests
/httpRequests/
# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml

.idea/*

/assets/*.key
/assets/*.pem
/assets/*.crt
/assets/**/*.crt
/assets/**/*.key
/assets/**/*.pem

build/*.exe
build/*
assets/*_accessKeys.csv
